<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="js/jquery.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/vue-router.js"></script>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<meta charset="UTF-8">
		<title>Title</title>
	</head>
	<body>
		<div id="vue">
			<!-- <div>
       模糊查询：
       <el-input v-model="name" placeholder="请输入内容"></el-input>
       <el-button @click="select()">查询</el-button>
   </div> -->
			<template>
				<el-table :data="bookcardInfos" style="width: 100%">
					<el-table-column prop="cid" label="cid" width="180">
					</el-table-column>
					<el-table-column prop="name" label="name" width="180">
					</el-table-column>
					<el-table-column prop="sex" label="sex" width="180">
					</el-table-column>
					<el-table-column prop="ccreateDate" label="ccreateDate" width="180">
					</el-table-column>
					<el-table-column prop="deposit" label="deposit" width="180">
					</el-table-column>
					<el-table-column label="操作">
						<template slot-scope="scope">
							<el-button type="text" @click="updBookcardInfoFormVisible(scope.row)">修改</el-button>
							<el-button @click="delBookcardInfo(scope.row.cid)">删除</el-button>
						</template>
					</el-table-column>
				</el-table>
				<!-- <div>
            <el-pagination
                    background
                    :current-page.sync=page
                    layout="prev, pager, next"
                    :total="count" @current-change="handleCurrentChange">
            </el-pagination>
        </div> -->
			</template>

			<el-button type="text" @click="addBookcardInfoFormVisible()">添加</el-button>

			<el-dialog title="添加" :visible.sync="addDialogFormVisible">
				<el-form ref="form" :model="bookcardInfo" label-width="80px">
					<el-form-item label="name" disabled="true">
						<el-input v-model="bookcardInfo.name"></el-input>
					</el-form-item>
					<el-form-item label="sex">
						<el-input v-model="bookcardInfo.sex"></el-input>
					</el-form-item>
					<el-form-item label="createDate">
						<el-input v-model="bookcardInfo.createDate"></el-input>
					</el-form-item>
					<el-form-item label="deposit">
						<el-input v-model="bookcardInfo.deposit"></el-input>
					</el-form-item>
				</el-form>
				<el-button type="text" @click="addBookcardInfo()">确认</el-button>
			</el-dialog>

			<el-dialog title="修改" :visible.sync="updDialogFormVisible">
				<el-form ref="form" :model="bookcardInfo" label-width="80px">
					<el-form-item label="name" disabled="true">
						<el-input v-model="bookcardInfo.name"></el-input>
					</el-form-item>
					<el-form-item label="sex">
						<el-input v-model="bookcardInfo.sex"></el-input>
					</el-form-item>
					<el-form-item label="createDate">
						<el-input v-model="bookcardInfo.createDate"></el-input>
					</el-form-item>
					<el-form-item label="deposit">
						<el-input v-model="bookcardInfo.deposit"></el-input>
					</el-form-item>
				</el-form>
				<el-button type="text" @click="updateCityInfo()">确认</el-button>
			</el-dialog>
		</div>
	</body>
	<script type="text/javascript">
		// 查询事件
		const selectCity = vueRouter => {
			if (vueRouter.name == "") {
				$.ajax({
					url: "/bookcardInfo/get",
					dataType: "JSON",
					success(result) {
						vueRouter.bookcardInfos = result.data
					}
				})
			} else {
				// $.ajax({
				//     url: "selectCityInfoFuzzy",
				//     dataType: "JSON",
				//     data: {
				//         page: vueRouter.page,
				//         length: vueRouter.length,
				//         name: vueRouter.name
				//     },
				//     success(result) {
				//         vueRouter.city = result.data
				//         vueRouter.count = result.count
				//     }
				// })
			}
		}
		const vue = new Vue({
			el: "#vue",
			data: {
				// // 页数
				// page: 1,
				// // 显示数量
				// length: 10,
				// // 总数量
				// count: 0,
				name: "",
				bookcardInfos: [],
				addDialogFormVisible: false,
				updDialogFormVisible: false,
				bookcardInfo: {
					cid:"",
					name: "",
					sex: "",
					createDate: "",
					deposit: ""
				}
			},
			methods: {
				// 翻页
				handleCurrentChange() {
					selectCity(this);
				},
				// 查询
				select() {
					selectCity(this);
				},
				// 删除
				delBookcardInfo(cityId) {
					$.ajax({
						url: "/bookcardInfo/del",
						data: {
							cid: cityId
						},
						success() {
							selectCity(vue);
						}
					})
				},
				// 修改
				updBookcardInfoFormVisible(cityInfo) {
					this.updDialogFormVisible = true;
					this.bookcardInfo = cityInfo;
					console.log(cityInfo);
				},
				// 修改
				updBookcardInfo(cityInfo) {
					$.ajax({
						url: "/bookcardInfo/upd",
						data: {
							cid: vue.bookcardInfo.cid,
							name: vue.bookcardInfo.name,
							sex: vue.bookcardInfo.sex,
							createDate: vue.bookcardInfo.createDate,
							deposit: vue.bookcardInfo.deposit
						},
						success(result) {
							selectCity(vue);
							this.updDialogFormVisible = true;
						}
					})
				},
				// 添加
				addBookcardInfoFormVisible() {
					this.addDialogFormVisible = true;
				},
				addBookcardInfo() {
					$.ajax({
						url: "/bookcardInfo/add",
						data: {
							name: vue.bookcardInfo.name,
							sex: vue.bookcardInfo.sex,
							createDate: vue.bookcardInfo.createDate,
							deposit: vue.bookcardInfo.deposit
						},
						success(result) {
							selectCity(vue);
							this.addDialogFormVisible = false;
						}
					})
				}
			},
			// vue加载事件
			mounted() {
				selectCity(this)
			}
		})
	</script>
</html>